section #elearning {
    padding: 3.125rem;
    padding-top: 6.25rem;
    z-index: -1;
}

.elearning {
    margin-top: 300px;
}

ul {
    list-style-type: style type dash;
}

.serport {
    margin-top: -2%;
}

.grey1 {
    background-color: #e5e5e5;
}


.bacimg {
    background-image: url(../../css_img/services2.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
    margin-left: 0;
}

.yellowless {
    background-color: rgba(253, 205, 0, 15%);
    padding: 40px;
}

.greyless {
    background-color: rgba(137, 137, 137, 22%);
    padding: 40px;
}

.lanbox {
    display: flex;
}

.lanbox .img-square-wrapper {
    height: 100%;
    align-items: center;
    padding: 1rem;
    color: white;
    width: 60%;
    background-color: black;
    opacity: 0.5;
}


.card-body1 {
    padding: 1rem;
    color: white;
    background-color: black;
    opacity: 0.3;
}

.probutton {
    border-radius: 50px;
    margin: 0.625rem;
    background-color: white;
    height: fit-content;
    width: auto;
}

ul .probutton {
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 2rem;
    display: flex;
    text-align: center;
}

.yellowcir {
    border-radius: 0 200px 200px 0;
    background-color: #fdcd00;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}


.lightyellcir {
    border-radius: 0 200px 200px 0;
    background-color: #fcce0041;
    text-align: left;
    display: flex;
    height: 11.8rem;
    overflow: hidden;
}

.yellowcir1 {
    border-radius: 200px 0 0 200px;
    background-color: #898989;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.lightyellcir1 {
    border-radius: 200px 0 0 200px;
    background-color: #e5e5e5;
    text-align: left;
    display: flex;
    height: 13rem;
    cursor: grabbing;
    overflow: hidden;
}

.extrasize {
    font-size: 500%;
    font-weight: bolder;
}

.extrasize1 {
    font-size: 150%;
}


  
/* @media (max-width: 768px) {
    ul {
      flex-direction: column;  Change flex direction to column
      align-items: center;

    }
  
    li {
      padding: 10px;  Add padding to make list items easier to tap on mobile devices
    }
  } */
  