/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    height: 70px;
    transition: all 0.5s;
    background: #898989;
    width: 100%;
    font-weight: 500;
}

#header .logo {
    margin-left: 5vh;
    position: relative;
    margin-right: 5vh;
    background-color: #f6f6f6;
    border-radius: 20vh;
    z-index: -1;
    height: auto;
    width: 25vw;
    transition: ease-out 0.5s;
    margin-top: 7vh;
}

#header.header-scrolled {
    border-radius: 15vh;
    margin-top: 3vh;
    background: #898989;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

#header.header-scrolled .logo {
    background-color: #ffffff;
    border-radius: 20vh;
    z-index: -1;
    height: 6vh;
    width: 25vw;
    margin-top: 9vh;
    transition: all 0.5s;
    transition: ease-in 0.5s;
    height: auto;
}

#header .logo h1 {
    font-size: 28px;
    margin: 0;
    padding: auto;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: #898989;
    text-decoration: none;
}

#header .logo img {
    margin: auto;
    max-height: 40px;
    box-shadow: rgb(0, 0, 0);
}

.navbar {
    padding: auto;
    margin: 0 auto 0 auto;
}

.right {
    margin: 0;
    padding: auto;
    display: flex;
    list-style: none;
    align-items: center;
}

.left {
    margin: 0;
    padding: auto;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar ul {
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px 7px 15px;
    margin-left: 0px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    transition: 0.3s;
    border-radius: 10vh;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    background: #fdcd00;
    height: auto;
    margin-right: 2vh;
    margin-left: auto;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 5px;
    top: calc(100% + 30px);
    margin: 5px 0 0 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #898989;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 15px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    color: #2a2c39;
    margin: 0 5px;
    font-size: 14px;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #898989;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (min-width: 900px) {
    #header.header-scrolled {
        border-radius: 10vh;
        margin-right: auto;
        margin-left: auto;
        margin-top: 1.5vh;
        background: #898989;
    }
    .navbar ul {
        margin-left: 80px;
    }
    .navbar ul a {
        font-size: large;
    }
    #header .logo {
        margin-left: auto;
        margin-right: auto;
    }
    #header .logo img {
        background-color: #ffffff;
        flex-direction: column;
        padding: auto;
        margin: auto;
        max-height: auto;
    }
}


/* desktop responsive navbar code  */

@media (min-width: 1200px) {
    .navbar ul {
        margin-left: auto;
        margin-right: auto;
    }
    .navbar ul a {
        font-size: large;
    }
    #header.header-scrolled {
        border-radius: 10vh;
        margin-top: 1.5vh;
        background: #898989;
    }
    #header .logo {
        margin-left: auto;
        margin-right: auto;
    }
    #header .logo img {
        flex-direction: column;
        background-color: #ffffff;
    }
}

@media (min-width: 1400px) {
    #header .logo {
        margin-left: auto;
        margin-right: auto;
    }
    #header .logo img {
        background-color: #ffffff;
        flex-direction: column;
    }
    .navbar ul {
        margin-left: 200px;
        font-size: large;
    }
    .navbar ul a {
        font-size: large;
    }
    #header.header-scrolled {
        border-radius: 10vh;
        margin-top: 1.5vh;
        background: #898989;
    }
    @media (max-width: 1366px) {
        .navbar .dropdown .dropdown ul {
            left: -90%;
        }
        .navbar .dropdown .dropdown:hover>ul {
            left: -100%;
        }
    }
}


/**
* Mobile Navigation 
*/

.mobile-nav-toggle {
    color: rgb(0, 0, 0);
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 800px) {
    .mobile-nav-toggle {
        display: block;
    }
    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #898989;
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #898989;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile .right {
    display: flex;
    flex-direction: column;
}

.navbar-mobile .left {
    display: flex;
    flex-direction: column;
}

.navbar-mobile .logo {
    display: none;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    margin: 5px;
    font-size: 15px;
    color: #2a2c39;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #898989;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #898989;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #898989;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}


/* ====================================================================Banner Section====================================================================***/


/* ====================================================================
			Mobile Menu
==================================================================== */

.nav-outer .mobile-nav-toggler {
    position: relative;
    float: right;
    font-size: 40px;
    line-height: 50px;
    cursor: pointer;
    color: #ffffff;
    display: none;
}

.mobile-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    padding-right: 30px;
    max-width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 999999;
}

.mobile-menu .nav-logo {
    position: relative;
    padding: 20px 20px;
    text-align: left;
}

.mobile-menu .nav-logo img {
    max-width: 200px;
}

.mobile-menu-visible {
    overflow: hidden;
}

.mobile-menu-visible .mobile-menu {
    opacity: 1;
    visibility: visible;
}

.mobile-menu .menu-backdrop {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.90);
    -webkit-transform: translateX(101%);
    -ms-transform: translateX(101%);
    transform: translateX(101%);
}

.mobile-menu-visible .mobile-menu .menu-backdrop {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

.mobile-menu .menu-box {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    background: #ffffff;
    padding: 0px 0px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    border-radius: 0px;
    -webkit-transform: translateX(101%);
    -ms-transform: translateX(101%);
    transform: translateX(101%);
}

.mobile-menu-visible .mobile-menu .menu-box {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.7s ease 500ms;
    -moz-transition: all 0.7s ease 500ms;
    -ms-transition: all 0.7s ease 500ms;
    -o-transition: all 0.7s ease 500ms;
    transition: all 0.7s ease 500ms;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

.mobile-menu .close-btn {
    position: absolute;
    right: 3px;
    top: 3px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    font-size: 14px;
    color: #202020;
    cursor: pointer;
    z-index: 10;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
}

.mobile-menu-visible .mobile-menu .close-btn {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

.mobile-menu .close-btn:hover {
    opacity: 0.50;
}

.mobile-menu .navigation {
    position: relative;
    display: block;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.10);
}

.mobile-menu .navigation li {
    position: relative;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.mobile-menu .navigation li>ul>li:last-child {
    border-bottom: none;
}

.mobile-menu .navigation li>ul>li:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.10);
}

.mobile-menu .navigation li>a {
    position: relative;
    display: block;
    line-height: 24px;
    padding: 10px 20px;
    font-size: 15px;
    color: #404040;
    text-transform: capitalize;
}

.mobile-menu .navigation li:hover>a,
.mobile-menu .navigation li.current>a {
    color: #00ab15;
}

.mobile-menu .navigation li.dropdown .dropdown-btn {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 44px;
    height: 44px;
    text-align: center;
    font-size: 16px;
    line-height: 44px;
    color: #404040;
    cursor: pointer;
    z-index: 5;
}

.mobile-menu .navigation li.dropdown .dropdown-btn:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 10px;
    width: 1px;
    height: 24px;
    border-left: 1px solid rgba(0, 0, 0, 0.10);
}

.mobile-menu .navigation li>ul,
.mobile-menu .navigation li>ul>li>ul {
    display: none;
}

.sticky-header .navbar-header {
    display: none;
}