#header {
    height: 4.375rem;
    transition: all 0.5s;
    background: #898989;
}

#header .logo {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #f6f6f6;
    border-radius: 20vh;
    z-index: 999;
    height: auto;
    width: 25vw;
    /* margin-top: 5.706rem; */
    /* transition: ease-in 2s; */
    transition: ease-out 0.5s;
    /* transition: all 2s; */
}

#header .logo img {
    /* padding: auto; */
    margin: auto;
    max-height: 2.5rem;
    /* margin-top: 0.938rem;
            margin-left: 3.5vw; */
}

.navbar {
    padding: auto;
    margin: 0 auto 0 auto;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    margin: 0;
    padding: auto;
    display: flex;
    list-style: none;
    align-items: center;
}

.left {
    margin: 0;
    padding: auto;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar ul {
    margin: 0;
    /* padding: 5.706rem; */
    display: flex;
    /* list-style: none; */
    /* align-items: center; */
    justify-content: center;
}

.navbar li {
    position: relative;
    padding: 0 0.35rem;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.313rem 0.938rem 0.313rem 0.938rem;
    font-size: 1rem;
    white-space: nowrap;
    transition: 0.3s;
    border-radius: 5.706rem;
}

.navbar a i,
.navbar a:focus i {
    font-size: 0.75rem;
    line-height: 0;
    /* margin-left: 0.313rem; */
}

.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    background: #fdcd00;
    color: black;
    align-items: center;
    /* height: auto;
    margin-right: 2vh;
    margin-left: auto; */
}

.hider {}

.button1 {
    border: 0px;
    border-radius: 0;
    height: 3.39rem;
    width: 3.2rem;
    margin: 0.5rem;
    float: right;
    display: none;
}


/* dropdown section */

.logo_drop {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #f6f6f6;
    border-radius: 20vh;
    /* z-index: 999; */
    height: auto;
    width: 12rem;
    flex-flow: left;
    transition: ease-out 0.5s;
    display: none
}

.logo_drop img {
    /* padding: auto; */
    margin: auto;
    max-height: 2rem;
    /* margin-top: 0.938rem;
            margin-left: 3.5vw; */
}

@media (max-width:600px) {
    .button1 {
        display: block;
    }
    .navbar .left,
    .navbar .right,
    .navbar .logo {
        display: none;
    }
    .navbar {
        display: none;
    }
    .logo_drop {
        display: flex;
        margin-right: 10rem;
    }
}


/* 
@media (min-width: 900px) {
    #header.header-scrolled {
        border-radius: 5.706rem;
  
        margin-right: auto;
        margin-left: auto;
        margin-top: 0.938rem;
        background: #898989;
    }
    .navbar ul {
        margin-left: 45.625rem;
    }
    .navbar ul a {
        font-size: large;
    }
    #header .logo {
        margin-left: auto;
        margin-right: auto;
    }
    #header .logo img {
        background-color: #ffffff;
        flex-direction: column;
        padding: auto;
        margin: auto;
        max-height: auto;
    }
} */


/* desktop responsive navbar code  */


/* 
@media (min-width: 112.5rem) {
    .navbar ul {
        margin-left: auto;
        margin-right: auto;
    }
    .navbar ul a {
        font-size: large;
    }
    #header.header-scrolled {
        border-radius: 5.706rem;
        /* height: 8vh; */


/* margin-top: 0.938rem;
        background: #898989;
    }
    #header .logo {
        margin-left: auto;
        margin-right: auto;
    }
    #header .logo img {
        flex-direction: column;
        background-color: #ffffff;
    }
}

@media (min-width: 1400px) {
    #header .logo {
        margin-left: auto;
        margin-right: auto;
    }
    #header .logo img {
        background-color: #ffffff;
        flex-direction: column;
    }
    .navbar ul {
        margin-left: 12.5rem;
        font-size: large;
    }
    .navbar ul a {
        font-size: large;
    }
    #header.header-scrolled {
        border-radius: 5.706rem;
        /* height: 8vh; */


/* margin-top: 0.938rem;
        background: #898989;
    }
    @media (max-width: 1366px) {
        .navbar .dropdown .dropdown ul {
            left: -90%;
        }
        .navbar .dropdown .dropdown:hover>ul {
            left: -100%;
        }
    }
} */


/**
* Mobile Navigation 
*/