/* --------------------------------------------------------------
# Footer
-------------------------------------------------------------- */

.footer{
    background-color: black;
}

.maplogo img{
    height: 6vh;
    width: auto;
}

.mapsize iframe{
    height: 30vh;
    width: 58vw;
}