/* --------------------------------------------------------------
# Footer
-------------------------------------------------------------- */

.footer {
    background-color: black;
    width: 100%;
}

.maplogo img {
    height: 3.6rem;
    width: auto;
}

.map iframe {
    height: 19.2rem;
    width: 56rem;
    padding: 0;
}