/* --------------------------------------------------------------
# Footer
-------------------------------------------------------------- */

.footer{
    width:100%;
    background-color: black;
}

.maplogo img{
    height: 6vh;
    width: auto;
}
.footer .ul{
    display:flex;
    flex-direction: row;
}

.mapsize iframe{
    height: 30vh;
    width: 58vw;
}