.merg {
    background-image: url(/src/img/logos/shape1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-position-y: 10vh;
    background-position-x: 15vh;
}

.mybutton {
    margin-top: 10vh;
    display: flex;
    position: absolute;
}

.about {
    padding-top: 10px;
}

.aboutme {
    height: 10vh;
    width: auto;
}

.about .content h3 {
    font-weight: 600;
    font-size: 26px;
}

.about .content ul {
    list-style: none;
    padding: auto;
}

.about .content ul li {
    position: relative;
}

.about .content ul li+li {
    margin-top: 10px;
}

.about .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #ef6603;
    line-height: 1;
}

.about .content p:last-child {
    margin-bottom: 0;
}

.about .content .btn-learn-more {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.3s;
    line-height: 1;
    color: #ef6603;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #ef6603;
}

.about .content .btn-learn-more:hover {
    background: #ef6603;
    color: #898989;
    text-decoration: none;
}

.aboutimg {
    max-height: 10vh;
    width: auto;
    padding: 16px;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
}

.yellow {
    background-color: #fdcd00;
    color: black;
}

.grey {
    background-color: gray;
    filter: invert(1);
}

.about0 {
    position: absolute;
    bottom: 0px;
}

.card-body {
    font-size: small;
}