.merg {
    background-image: url(/public/img/logos/shape1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-position-y: 10vh;
    background-position-x: 15vh;
}

.mybutton {
    margin-top: 10vh;
    display: flex;
    position: absolute;
}

.about {
    padding-top: 0.625rem;
}

.aboutme {
    height: 10vh;
    width: auto;
}

.about .content h3 {
    font-weight: 600;
    font-size: 1.625rem;
}

.about .content ul {
    list-style: none;
    padding: auto;
}

.about .content ul li {
    position: relative;
}

.card-body {
    padding-left: 0;
}

.about .content ul li+li {
    margin-top: 0.625rem;
}

.about .content ul i {
    position: absolute;
    left: 0;
    top: 0.125rem;
    font-size: 1.25rem;
    color: #ef6603;
    line-height: 1;
}

.about .content p:last-child {
    margin-bottom: 0;
}

.aboutimg {
    max-height: 10vh;
    width: auto;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
}

.yellow {
    background-color: #fdcd00;
    color: black;
    /* font-weight:bold ; */
    font-size: 1rem;
}

.grey {
    background-color: gray;
    color: white;
    /* font-weight:bold ; */
    font-size: 1rem;
}


/* .about0 {
    position: absolute;
    bottom: 0;
} */

@media (max-width: 575px) {
    .about0 {
        display: none;
    }
}