.container11 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container11 .card {
    position: relative;
    width: 20vw;
    height: 16.5vh;
    border-radius: 0 0 5px 5px;
    background: #898989;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: 0.4s ease-in-out;
}

.container11 .card:hover {
    height: 35vh;
    object-fit: contain;
}

.container11 .card .imgbx {
    position: relative;
    width: fit-content;
    height: fit-content;
    top: -30px;
    z-index: 1;
}


.container11 .card .content {
    position: relative;
    padding: 10px 15px;
    text-align: center;
    color: #ffff;
    visibility: hidden;
    object-fit: contain;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container11 .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -30px;
    transition-delay: 0.3s;
}

.container11 {
    padding: 40px 1%;
}

.row2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ffff;
    background-color: #fecd00;
}
/*  */