.img-scroll {
    width: 200px;
    height: 80px;
}

.slide-track {
    width: 100%;
    display: flex;
    gap: 3em;
    overflow: hidden;
    margin: 10px;

}

.slider {
    background-color: #c4c4c4;
    padding: 40px 60px 40px 60px;
}
