.img-scroll {
    width: 12.5rem;
    height: 5rem;
}

.slide-track {
    width: 100%;
    display: flex;
    gap: 3rem;
    overflow: hidden;
}

.slider {
    background-color: #c4c4c4;
    /* padding: 2.5rem 3.75rem 2.5rem 3.75rem; */
    /* padding: 0.5rem 2rem 1.5rem 2rem; */
    padding: 3.125rem;
}

@media screen and (max-width: 600px) {
    .img-scroll {
        width: 8rem;
        height: 5rem;
    }
    .carousel-control-prev {
        position: absolute;
        float: left;
        visibility: hidden;
    }
    .carousel-control-next {
        position: absolute;
        visibility: hidden;
        float: right;
    }
}

@media (max-width: 900px) {
    #maindiv {
        border: 2px solid black;
        overflow: hidden;
        white-space: nowrap;
    }
    #div1 {
        display: inline-block;
        animation: marquee 10s linear infinite;
    }
    #div2 {
        display: inline-block;
        animation: marquee2 10s linear infinite;
        animation-delay: 5s;
    }
    @keyframes marquee {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(-100%);
        }
    }
    @keyframes marquee2 {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(-200%);
        }
    }
    .carousel {
        display: none;
    }
}