.img-scroll {
    width: 12.5rem;
    height: 5rem;
}

.slide-track {
    width: 100%;
    display: flex;
    gap: 3rem;
    overflow: hidden;
    margin: 10px;
}

.slider {
    background-color: #c4c4c4;
    padding: 2.5rem 3.75rem 2.5rem 3.75rem;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translatex(-1000%)
    }
}