.container7 {
    max-height: 60vh;
    max-width: 70vw;
    align-items: center;
    display: flex;
}

.container_card {
    height: auto;
    width: 20vw;
    align-items: center;
    background-color: grey;
    border-radius: 10px;
}

.container_card:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in;
    background-color: rgb(0, 0, 0, 0.9);
}

.container_card:hover a {
    color: #fecd00;
}

.container_card:hover .imgbx img {
    /* filter: invert(0); */
    filter: saturate(4);
}

.container_card p {
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: smaller;
}

.container_card p a {
    font-size: medium;
}

.b {
    text-decoration: solid;
    font-size: 2vw;
    text-align: center;
}

.container_card .imgbx {
    display: flex;
    position: relative;
    width: auto;
    height: auto;
    border-radius: 10px;
    filter: invert(1);
}

.container_card .imgbx img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    filter: invert(1);
}

.imgbx img {
    padding: 10% 30% 0% 30%;
}

.latest .imgbx img {
    padding: 0;
}

@media (max-width: 768px) {
    .till {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .container7 {
        margin: auto;
        padding: auto;
        background-color: #00ab15;
    }
    .container_card {
        margin: 10%;
        padding: auto;
        height: auto;
        width: auto;
        max-height: 100%;
        max-width: 100%;
        align-items: center;
        background-color: grey;
        border-radius: 10px;
    }
}