.til {
    margin-top: -17%;
    visibility: visible;
    /* position: absolute; */
}

/* latest work */

.row1 {
    display: flex;
    flex-direction: row;
}

.latest {
    padding: 2.5rem;
    background-color: #c4c4c4;
}

.latest img {
    width: 100%;
    border-radius: 0.313rem 0.313rem 0 0;
    height: 100%;
    object-fit: contain;
    /* padding: 1vh; */
    /* background-color: navy; */
}

.heading-text {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.heading-text span {
    font-weight: 100;
}

.container7 {
    max-height: 60vh;
    max-width: 70vw;
    align-items: center;
    display: flex;
}

.container_card {
    height: auto;
    width: 20vw;
    align-items: center;
    background-color: grey;
    border-radius: 10px;
    text-decoration: none;
}

.container_card:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in;
    color: #fecd00;
}

.container_card p {
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
    /* font-size: medium; */
    text-align: center;
}

.container_card .imgbx {
    display: flex;
    position: relative;
    width: auto;
    height: auto;
    border-radius: 10px;
    filter: invert(1);
}

.container_card .imgbx img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.imgbx img {
    padding: 10% 30% 0% 30%;
}

.latest .imgbx img {
    padding: 0;
}

@media (max-width: 800px) {
    .till {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .container7 {
        margin: auto;
        padding: auto;
        border-radius: 10px;
        /* background-color: #00ab15; */
    }
    .container_card p {
        font-size: small;
    }
    .container_card {
        margin: 10%;
        padding: auto;
        height: auto;
        width: auto;
        max-height: 100%;
        max-width: 100%;
        align-items: center;
        background-color: grey;
        border-radius: 10px;
    }
}

@media (max-width: 400px) {
    .container_card p {
        font-size: xx-small;
    }
}

